// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Typography

.govuk-header__navigation {
  float: right;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-header__link,
.govuk-tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.govuk-heading-xl {
  line-height: 1.15;
}

.govuk-heading-m {
  line-height: 1.25;
}

.govuk-body,
.govuk-body-l,
.govuk-body-s,
.govuk-link,
.govuk-phase-banner__text,
.govuk-header__navigation-item a,
.govuk__link,
.govuk-list--bullet li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.govuk-body-l {
  line-height: 1.4;
}

.govuk-body,
.govuk-list--bullet li {
  line-height: 1.51579;
}

// To do

.to-do {
  background: $govuk-error-colour;
}

// Links

.link-button,
.link-button:visited,
.link-button:link {
  background: govuk-colour("blue");
  border-radius: 20px;
  margin: 0;
  padding: 6px 12px 7px;
  color: govuk-colour("white");
  text-decoration: none;
  font-size: 0.9rem !important;

  &.large {
    font-size: 1.1rem !important;
    padding: 10px 20px;
  }
}

.link-button:focus {
  background: $govuk-focus-colour;
  color: $govuk-text-colour;
}

// Layout

.app-\!-full-width-override {
  width: 100%;
  margin: 0;
  max-width: 100%;

  .govuk-main-wrapper {
    padding: 0;
  }
}

.full {
  width: 100% !important;
}

// Phase banner
.govuk-phase-banner {
  margin-top: 62px;
  border-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-phase-banner {
    margin-top: 70px;
  }
}

// Header

.govuk-header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.govuk-header__logotype-text {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  color: $govuk-secondary-text-colour;
}

.govuk-header__menu-button {
  color: $govuk-secondary-text-colour;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
}

.govuk-header__link--homepage {
  padding-top: 0;
  margin-top: 10px;
  font-size: 1em;

  span {
    padding: 0;
  }

  .govuk-header__logotype {
    padding: 0;
    margin: 0;
  }

  .govuk-header__logotype-text {
    padding: 0;
    margin: 0;
  }
}

.govuk-header__container {
  border-bottom: 0;
  margin-top: 0px;
  padding-top: 0px;
}

.govuk-header__container {
  margin-bottom: 0;
}

.govuk-header__navigation {
  padding-top: 3px;
}

.govuk-header {
  background-color: govuk-colour("white");
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 0px 8px rgba(17, 17, 26, 0.1);
  border-bottom: 0;
}

.govuk-header__link:link,
.govuk-header__link:visited {
  color: $govuk-secondary-text-colour;
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
  color: govuk-colour("blue");
  font-weight: 600;
}

.govuk-header__navigation {
  clear: both;
}

.govuk-header {
  padding: 14px 0 8px 0;
}

.govuk-header__navigation {
  width: 100%;
}

.govuk-header__menu-button {
  top: 0;
}

.govuk-header__navigation-item {
  border-bottom: 1px solid govuk-colour("light-grey");
}

.govuk-header__navigation-item:last-child,
.govuk-header__navigation-item:nth-child(3) {
  border-bottom: 0px solid govuk-colour("light-grey");
}

@media (min-width: 48.0625em) {
  .govuk-header {
    padding-bottom: 0px;
  }

  .govuk-header__logo {
    width: auto;
    float: left;
    padding-right: 0;
    padding-bottom: 0;
  }

  .govuk-header__content {
    width: auto;
    float: right;
    padding-left: 0;
    margin-top: 2px;
  }

  .govuk-header__navigation {
    width: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 40.0625em) {
  .govuk-header {
    padding: 14px 0;
  }

  .govuk-header__navigation-item {
    border-bottom: 0;
  }

  .govuk-header__navigation-item:last-child {
    border-bottom: 0;
  }

  .govuk-header__navigation {
    width: 100%;
  }

  .govuk-header__menu-button {
    top: 0;
  }
}

.prototype-home {
  margin-top: 100px;
}

// Welcome

.welcome {
  background: govuk-colour("blue");

  h1,
  p {
    color: #fff;
  }

  .govuk-heading-xl {
    margin-bottom: 20px;
  }
}

// Details

.govuk-details {
  .govuk-details__summary {
    color: govuk-colour("white");
  }

  .govuk-details__text {
    color: govuk-colour("white");
  }

  .govuk-details__summary:focus {
    color: govuk-colour("black");
  }
}

// Card

.card {
  display: block;
  background: govuk-colour("light-grey");
  box-sizing: border-box;
  padding: 24px;
  border-bottom: 5px solid govuk-colour("blue");
  min-height: 130px;

  &:link,
  &:visited {
    color: govuk-colour("blue");
    text-decoration: none;
  }

  &:link .govuk-heading-m,
  &:visited .govuk-heading-m {
    color: govuk-colour("blue");
    text-decoration: underline;
  }

  &:link .govuk-body,
  &:visited .govuk-body {
    color: govuk-colour("black");
  }
}

@media (min-width: 40.0625em) {
  .card {
    min-height: 420px;

    .govuk-body {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 48.0625em) {
  .card {
    min-height: 200px;
  }
}

// Supported by section

.supported {
  border-top: 1px solid govuk-colour("light-grey");

  .govuk-heading-l {
    margin-bottom: 20px;
  }

  .govuk-grid-column-one-quarter {
    display: block;

    img {
      width: 100%;
    }
  }
}
// Case study

.case-studies {
  border-top: 1px solid govuk-colour("light-grey");
}

.case-study {
  display: block;

  &:link,
  &:visited {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

.tags {
  border-radius: 20px;
  font-size: 0.9em;
  background: govuk-colour("light-grey");
  display: inline-block;
  padding: 6px 15px 8px;
  margin-right: 10px;
  margin: 0 10px 15px 0;
  white-space: nowrap;
  color: govuk-colour("black");

  &:link,
  &:visited {
    color: govuk-colour("black");
  }
}

// Share case

.share-case {
  border-top: 1px solid govuk-colour("light-grey");
}

// Case Studies page

.sub-nav-holder {
  padding: 20px 0;
  border-top: 1px solid govuk-colour("light-grey");
}

.sub-nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;

  .sub-nav-item {
    color: govuk-colour("blue");
    font-size: 15px;
    margin: 10px 0;
    padding: 0;
    display: block;

    &.active {
      padding-left: 0px;
    }

    &.active .govuk__link {
      font-weight: 600;
      color: $govuk-text-colour;
      text-decoration: none;
    }

    .govuk__link {
      width: 100%;
      color: govuk-colour("blue");
      display: inline;
      margin: 10px 0;
      box-sizing: border-box;
    }

    .govuk-heading-s {
      margin: 20px 0px;
      font-size: 15px;
    }
  }
}

@media (min-width: 40.0625em) {
  .sub-nav-holder {
    margin: 0px 0px;
    background: govuk-colour("light-grey");
    padding: 0;

    .sub-nav {
      border-top: none;
      display: inline;
    }

    .sub-nav-item {
      margin: 0 10px 0 15px;
      float: left;

      .govuk__link {
        display: block;
        color: $govuk-link-colour;
        margin: 20px 0;
        text-decoration: none;
      }

      .govuk-heading-s {
        margin-left: 5px;
      }

      .govuk__link:hover {
        text-decoration: underline;
      }

      &.active {
        border-left: none;
        color: govuk-colour("blue");
        border-bottom: 5px solid govuk-colour("blue");
      }

      &.active .govuk__link {
        color: govuk-colour("blue");
      }
    }
  }
}

// title

.title {
  background: govuk-colour("blue");

  .govuk-heading-l {
    margin-bottom: 20px;
  }

  h1,
  p {
    color: #fff;
  }
}

// breadcrumb

.govuk-breadcrumbs {
  border-top: 1px solid govuk-colour("light-grey");
  margin: 0;
  padding-top: 20px;
}

// Case Study Content

.empty p {
  margin-bottom: 1px;
}

.navigation {
  a {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid govuk-colour("light-grey");
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: govuk-colour("blue");
  }

  a:first-child {
    border-top: 1px solid govuk-colour("light-grey");
  }
  a.active {
    background: govuk-colour("light-grey");
    border-left: 4px solid govuk-colour("blue");
  }
}

.case-study-navigation {
  display: none;
  width: 200px;
}

@media (min-width: 40.0625em) {
  .case-study-navigation {
    display: block;
  }
}

@media (min-width: 48.0625em) {
  .case-study-navigation {
    display: block;
  }
}

// About

.about {
  border-top: 1px solid govuk-colour("light-grey");
}

// Footer

.govuk-footer__meta-item {
  padding-bottom: 0px;
}
