

{% extends "v2/layout.html" %}

{% block pageTitle %}
About - Community Engagement Playbook
{% endblock %}

{% block content %}

<section class="longform-content about govuk-!-padding-top-9">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="navigation">
            <a class="navigation-link active" href="#about">About</a>
            <a class="navigation-link" href="#what-included">What's Included?</a>
            <a class="navigation-link" href="#why-created">Why Was This Created?</a>
            <a class="navigation-link" href="#contributors">Contributors</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds">
        <div id="about" class="page-section">
          <h2 class="govuk-heading-l">About</h2>
          <p class="govuk-body to-do">Back in 2019, Oxford City Council ran a Citizens Assembly on the climate emergency to understand more about what the residents wanted the council to do. This led to the council committing to 53 specific actions to help fight climate change, and one of these was to run a youth climate summit to engage young people in the topic.</p>
        </div>
        <div id="what-included" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">What's Included?</h2>
          <ul class="govuk-list govuk-list--bullet to-do">
            <li>Engaging young people in climate action, as they will be most affected by climate change</li>
            <li>Bring them into the conversation to hear their views</li>
            <li>Supporting them to take specific actions against climate change</li>
          </ul>
        </div>
        <div id="why created" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Why Was This Created?</h2>
          <p class="govuk-body to-do">Back in 2019, Oxford City Council ran a Citizens Assembly on the climate emergency to understand more about what the residents wanted the council to do. This led to the council committing to 53 specific actions to help fight climate change, and one of these was to run a youth climate summit to engage young people in the topic.</p>
        </div>
        <div id="contributors" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Contributors</h2>
          <p class="govuk-body to-do">Back in 2019, Oxford City Council ran a Citizens Assembly on the climate emergency to understand more about what the residents wanted the council to do. This led to the council committing to 53 specific actions to help fight climate change, and one of these was to run a youth climate summit to engage young people in the topic.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
