

{% extends "v2/layout.html" %}

{% block pageTitle %}
About - Community Engagement Playbook
{% endblock %}

{% block content %}

<section class="longform-content about govuk-!-padding-top-9 govuk-!-padding-bottom-9">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">      
      <div class="govuk-grid-column-two-thirds">
        <div id="about" class="page-section">
          <h2 class="govuk-heading-l">About</h2>
          <p class="govuk-body">This playbook has been created to help local authorities learn from each other how to improve their digital community engagement.</p>
          <p class="govuk-body">The COVID-19 pandemic has had a big impact on how local authorities can engage, with many traditional face-to-face engagement methods not currently possible. They’ve needed to devise new and different ways to interact, consult and engage with citizens.The playbook brings together practical case studies of how different local authorities in England have used digital approaches to do this.</p>
          <p class="govuk-body">The case studies include key guidance and break down each example into steps, so that other local authorities can replicate something similar in their own area.</p>
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Digital inclusion</h2>
          <p class="govuk-body">While the pandemic has led to new forms of digital engagement, it has also increased pre-existing issues around accessibility and digital inclusion. This is an ongoing challenge.</p>
          <p class="govuk-body">The focus of the playbook is on digital methods, but if you want to find out more about engaging the digitally excluded please visit the <a target="_blank" href="https://digitalinclusionkit.org/">Digital Inclusion Toolkit</a>, led by Leeds City and Croydon Council.  </p>
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Playbook collaborators</h2>
          <p class="govuk-body">This playbook has been funded by <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government">the Ministry of Housing, Communities and Local Government</a> (MHCLG) through its C-19 Challenge Fund to support COVID-19 recovery across local government.</p>
          <p class="govuk-body">It is been a collaborative project, led by MHCLG’s Local Digital Collaboration Unit and supported by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Royal Borough of Kingston Upon Thames</li>
            <li>London Borough of Waltham Forest</li>
            <li>South Gloucestershire Council</li>
            <li>Oxford City Council</li>
            <li>West Berkshire Council</li>
            <li>Staffordshire County Council</li>
            <li>London Borough of Sutton</li>
            <li>London Office of Technology and Innovation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
