
{% extends "v2/layout.html" %}

{% block pageTitle %}
Home - Community Engagement Playbook
{% endblock %}

{% block content %}

<section class="welcome">  
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl govuk-!-padding-top-9">
          Welcome
        </h1>
        <p class="govuk-body-l">The Community Engagement Playbook is a pratical resource for those involved in digital community engagement within councils and local authorities. It’s designed to encourage learning and the sharing of good digital engagement practices. </p>
        <details class="govuk-details govuk-!-padding-bottom-9" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              More on community engagement
            </span>
          </summary>
          <div class="govuk-details__text to-do">
            Community Engagement is TBA
          </div>
        </details>
      </div>
    </div>
  </div>
</section>

<section class="browse">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Browse Case Studies</h2>
        <p class="govuk-body-l to-do">Case Study Explanation will go here TBA</p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/user-groups" class="card">
          <h3 class="govuk-heading-m">User Groups</h2>
          <p class="govuk-body">Browse by particular group demographics or interests</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/engagement-activity" class="card">
          <h3 class="govuk-heading-m">Engagement Activity</h2>
          <p class="govuk-body">Browse by activity types, from citizens panels to surveys</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/engagement-topic" class="card">
          <h3 class="govuk-heading-m">Engagement Topic</h2>
          <p class="govuk-body">Browse by topic area, from climate change to Covid-19</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="case-studies">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Latest Case Studies</h2>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/oxford-climate" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Engaging young people in climate action through an online summit</h3>
          <span class="tags">Young People</span><span class="tags">Climate</span><span class="tags">Summit</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/waltham-forest-covid-19" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Running a citizens panel during COVID-19 to gather insights</h3>
          <span class="tags">Covid-19</span><span class="tags">Citizens Panel</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/kingston-libraries" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Using a creative approach and strategy to community engagement</h3>
          <span class="tags">Libraries</span><span class="tags">Ideas Board</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="supported">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Supported By</h2>
        <p class="govuk-body-l to-do">Supported by text will go here TBA</p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government" class="govuk-grid-column-one-quarter">
        <img alt="Ministry For Housing Communities and Local Government Logo" src="https://mycommunity.org.uk/files/logos/_large/mhclg_transparent.png"/>
      </a>
      <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government" class="govuk-grid-column-one-quarter">
        <img alt="Ministry For Housing Communities and Local Government Logo" src="https://mycommunity.org.uk/files/logos/_large/mhclg_transparent.png"/>
      </a>
      <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government" class="govuk-grid-column-one-quarter">
        <img alt="Ministry For Housing Communities and Local Government Logo" src="https://mycommunity.org.uk/files/logos/_large/mhclg_transparent.png"/>
      </a>
      <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government" class="govuk-grid-column-one-quarter">
        <img alt="Ministry For Housing Communities and Local Government Logo" src="https://mycommunity.org.uk/files/logos/_large/mhclg_transparent.png"/>
      </a>
    </div>
  </div>
</section>

<section class="share-case">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l govuk-!-padding-top-9">
          Share your Case Study
        </h1>
        <p class="govuk-body-l govuk-!-padding-bottom-3">This platform is a work-in-progress. If you have a case study you've had success with, we would love to know about it. Please send an email and we'll be in touch.</p>
        <a href="#" class="link-button large">Submit Case Study</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
