
{% extends "v2/layout.html" %}

{% block pageTitle %}
Home - Community Engagement Playbook
{% endblock %}

{% block content %}

<section class="welcome">  
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl govuk-!-padding-top-9">
          A practical resource for doing digital community engagement
        </h1>
        <p class="govuk-body-l">This playbook features reusable and transferable case studies of digital community engagement that you can learn from and apply in your own work.</p>
        <details class="govuk-details govuk-!-padding-bottom-9" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              More about community engagement
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="gov-uk-body">By community engagement, we mean interacting with various groups and individuals  within a local area - to understand their views, gather their ideas, start a dialogue or help them take action. </p>
            <p class="gov-uk-body">The case studies in this playbook aim to go beyond just informing people; they are about engaging in a meaningful way. Doing this helps to build trust and ensure that local authorities are responding well to the real needs of their communities.</p>
            <p class="gov-uk-body">Some case studies will be relevant for statutory consultation, but the Playbook’s main focus is engagement more broadly.</p>
          </div>
        </details>
      </div>
    </div>
  </div>
</section>

<section class="browse">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Browse the case studies</h2>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/user-groups" class="card">
          <h3 class="govuk-heading-m">User groups</h2>
          <p class="govuk-body">Browse by particular group demographics or interests</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/engagement-activity" class="card">
          <h3 class="govuk-heading-m">Engagement activity</h2>
          <p class="govuk-body">Browse by activity types, such as citizens panels or surveys</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-2">
        <a href="./v2/case-studies/engagement-topic" class="card">
          <h3 class="govuk-heading-m">Engagement topic</h2>
          <p class="govuk-body">Browse by topic area, such as climate change or COVID-19</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="case-studies">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Latest case studies</h2>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/oxford-climate" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Engaging young people in climate action through an online summit</h3>
          <span class="tag-title">Tags</span><span class="tags">Young people</span><span class="tags">Climate</span><span class="tags">Summit</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/waltham-forest-covid-19" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Running a citizens panel during COVID-19 to gather insights</h3>
          <span class="tag-title">Tags</span><span class="tags">Covid-19</span><span class="tags">Citizens panel</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./v2/case-studies/kingston-libraries" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Using a creative approach and strategy to promote community engagement</h3>
          <span class="tag-title">Tags</span><span class="tags">Libraries</span><span class="tags">Ideas board</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="share-case">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l govuk-!-padding-top-9">
          Share your case study
        </h2>
        <p class="govuk-body-l govuk-!-padding-bottom-3">We’re looking for more case studies so that we can continue learning from each other. If you have an engagement example that you've had success with, we would love to know about it. Please send us an email and we'll be in touch.</p>
        <a href="#" class="link-button large">Submit case study</a>
      </div>
    </div>
  </div>
</section>

<section class="supported">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Playbook collaborators</h2>
        <p class="govuk-body-l">This playbook has been funded by MHCLG and created by the Local Digital Collaboration Unit (LDCU) in partnership with a group of local authorities:</p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <a target="_blank" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government" class="govuk-grid-column-one-sixth">
        <img alt="Ministry for housing communities and local government logo" src="/public/images/logos/mhclg.png"/>
      </a>
      <a target="_blank" href="https://localdigital.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="Local digital collaboration unit logo" src="/public/images/logos/local-digital.png"/>
      </a>
      <a target="_blank" href="https://www.southglos.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="South Gloucestershire Council Logo" src="/public/images/logos/south-gloucestershire-council.png"/>
      </a>
      <a target="_blank" href="https://www.kingston.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="Royal Borough of Kingston Logo" src="/public/images/logos/kingston.png"/>
      </a>
      <a target="_blank" href="https://www.walthamforest.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="London Borough Waltham Forest Logo" src="/public/images/logos/waltham-forest.png"/>
      </a>
      <a target="_blank" href="https://www.oxford.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="Oxford City Council logo" src="/public/images/logos/oxford-city-council.png"/>
      </a>
      <a target="_blank" href="https://www.westberks.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="West Berkshire Council logo" src="/public/images/logos/west-berkshire-council.png"/>
      </a>
      <a target="_blank" href="https://www.staffordshire.gov.uk/Homepage.aspx" class="govuk-grid-column-one-sixth">
        <img alt="Staffordshire County Council Logo" src="/public/images/logos/staffordshire-county-council.png"/>
      </a>
      <a target="_blank" href="https://loti.london" class="govuk-grid-column-one-sixth">
        <img alt="London Office of Technology and Innovation Logo" src="/public/images/logos/loti.png"/>
      </a>
      <a target="_blank" href="https://www.sutton.gov.uk" class="govuk-grid-column-one-sixth">
        <img alt="London Borough of Sutton Logo" src="/public/images/logos/sutton.png"/>
      </a>
      
    </div>
  </div>
</section>

{% endblock %}
