
{% extends "v2/layout.html" %}

{% block pageTitle %}
  Case Studies - Community Engagement Playbook
{% endblock %}

{% block content %}

<section class="sub-nav-holder">  
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
      <!-- <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-padding-top-6">
          Case Studies
        </h1>
      </div> -->
      <div class="govuk-grid-column-full-width">
        <div class="">
          <nav>
            <ul class="sub-nav">
              <li class="sub-nav-item">
                <a class="govuk__link" href="./">
                 View all
                </a>
              </li>
              <li class="sub-nav-item">
                <h4 class="govuk-heading-s">
                 Browse by:
                </h4>
              </li>
              <li class="sub-nav-item">
                <a class="govuk__link" href="./user-groups">
                 User groups 
                </a>
              </li>
              <li class="sub-nav-item active">
                <a class="govuk__link" href="./engagement-activity">
                  Engagement activity 
                </a>
              </li>
              <li class="sub-nav-item">
                <a class="govuk__link" href="./engagement-topic">
                  Engagement topic
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="case-studies">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Engagement activity</h2>
        <p class="govuk-body-l">Browse by activity types, from citizens panels to surveys</p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./oxford-climate" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Engaging young people in climate action through an online summit</h2>
          <span class="tags">Summit</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./waltham-forest-covid-19" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Running a citizens panel during COVID-19 to gather insights</h2>
          <span class="tags">Citizens panel</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        <a href="./kingston-libraries" class="case-study">
          <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="3 Team GB cyclists on the Olympic velodrome.">
          <h3 class="govuk-heading-m govuk-!-padding-top-2">Using a creative approach and strategy to community engagement</h3>
          <span class="tags">Ideas board</span>
        </a>
      </div>
    </div>
  </div>
</section>


{% endblock %}
