
{% extends "v2/layout.html" %}

{% block pageTitle %}
  Case Studies - Community Engagement Playbook
{% endblock %}

{% block content %}


<section class="case-studies">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-6">
      <div class="govuk-grid-column-one-third">
        <nav class="sidebar-navigation">
          <ul>
            <li class="sub-nav-item">
              <a class="govuk__link" href="./">
               View All
              </a>
            </li>
            <li class="sub-nav-item">
              <a class="govuk__link" href="./user-groups">
               Browse by user groups 
              </a>
            </li>
            <li class="sub-nav-item">
              <a class="govuk__link active" href="./engagement-activity">
                Browse by engagement activity 
              </a>
            </li>
            <li class="sub-nav-item">
              <a class="govuk__link" href="./engagement-topic">
                Browse by engagement topic
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Engagement activity</h2>
        <p class="govuk-body-l">Browse by activity types, such as citizens panels or surveys</p>
        <a href="./oxford-climate" class="list-view">
          <div class="govuk-grid-column-one-third">
            <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
          </div>
          <div class="govuk-grid-column-two-third">
            <h3 class="govuk-heading-m">Engaging young people in climate action through an online summit</h3>
              <span class="tag-title">Tag</span><span class="tags">Summit</span>
          </div>
        </a>
        <a href="./waltham-forest-covid-19" class="list-view">
          <div class="govuk-grid-column-one-third">
            <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
          </div>
          <div class="govuk-grid-column-two-third">
            <h3 class="govuk-heading-m">Running a citizens panel during COVID-19 to gather insights</h3>
              <span class="tag-title">Tag</span><span class="tags">Citizens Panel</span>
          </div>
        </a>
        <a href="./kingston-libraries" class="list-view">
          <div class="govuk-grid-column-one-third">
            <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
          </div>
          <div class="govuk-grid-column-two-third">
            <h3 class="govuk-heading-m">Using a creative approach and strategy to promote community engagement</h3>
              <span class="tag-title">Tag</span><span class="tags">Ideas Board</span>
          </div>
        </a>
      </div>
      
      <div class="govuk-grid-column-one-third govuk-!-padding-3">
        
      </div>
    </div>
  </div>
</section>


{% endblock %}
