
{% extends "v2/layout.html" %}

{% block pageTitle %}
Using a creative approach and strategy to promote community engagement  - Community Engagement Playbook
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title govuk-!-padding-top-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Last updated 11 February 2021</span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">
          Using a creative approach and strategy to promote community engagement 
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Contributed by:</span>
        <h3 class="govuk-heading-s govuk-!-padding-top-3">Royal Borough of Kingston upon Thames, Kingston Libraries team</h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="longform-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="information-scent">
            <a class="navigation-link active" href="#summary">Summary</a>
            <a class="navigation-link" href="#reasons-for-engagement">Reasons for engagement</a>
            <a class="navigation-link" href="#steps-to-implement">Steps</a>
            <a class="navigation-link" href="#requirements">Resources required</a>
            <a class="navigation-link" href="#evidence-for-success">Outcomes</a>
            <a class="navigation-link" href="#key-guidance">Key guidance</a>
            <a class="navigation-link" href="#risks">Risks</a>
            <a class="navigation-link" href="#software-and-tools">Software and tools used</a>
            <a class="navigation-link" href="#contacts">Get in contact</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
        <div id="summary" class="page-section">
          <h2 class="govuk-heading-l">Summary</h2>
          <p class="govuk-body">Since 2016, Kingston Libraries has been on a journey of transformation. Following a Local Government Association (LGA) peer review in January 2020, and a commitment in the corporate plan to undertake a library review, we are working with local communities to reimagine the service. <a target="_blank" href="https://kingstonletstalk.co.uk/libraries">Reimagining Kingston Libraries’</a> first engagement phase ran from 1st September - 26th October 2020, and inspired our decision to take a more creative approach to community engagement.             
          </p>
          <p class="govuk-body">We developed an engagement plan and then designed activities, such as an online escape room, a virtual ideas board and visual storytelling sessions, to engage with various communities in an innovative way, so that we could gather their thoughts and opinions about aspects of the library. We aim to ensure that communities are at the heart of everything we do, so we wanted to create a space where people could provide feedback in a fun and creative way, and so we stepped away from traditional and more bureaucratic, impersonal methods such as surveys. These things were made possible due to the vital partnerships that we have, as well as the creative skills and ideas that came from our own library staff.
          </p>
        </div>
        <div id="reasons-for-engagement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Reasons for engagement</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To understand the current perception of libraries in Kingston, discover what was being done well, and identify any opportunities for development.
            </li>
            <li>To discover possible ways to market the library service better, and help shape the digital offer.
            </li>
            <li>To engage with residents in a creative manner.
            </li>
            <li>To understand the needs of the residents to ensure that they are being met.
            </li>
            <li>To ensure that a broad range of the community is involved and being engaged with.
            </li>
            <li>To be the first step for the library service in working collaboratively ‘with’ the community, as opposed to simply ‘for’ the community.
            </li>
          </ul>
        </div>
        <div id="steps-to-implement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Steps</h2>
          <ol class="govuk-list govuk-list--number">
            <li>
              <h3 class="govuk-heading-m">Understand the reasons for the engagement</h3>
              <p class="govuk-body">It is important to truly understand the reasons for the engagement, and having a clear rationale helps with planning what methods and activities you decide to run in the engagement. Think about the audience you want to engage with, as there is no point in going out to engage the community for the sake of it.  
              </p>
              <p class="govuk-body">For our team, the things that came out of the Kingston Stronger Together Hub helped shape our thinking about how we were going to approach this engagement. Before undertaking any engagement - which takes staff time and resources - we thought about why we were doing the engagement, how interaction between our internal team and the community could work, and how it could feed into the service’s wider plans. We also considered how this piece of engagement would continue to be of value over the next 6-8 months and fit into Phase 2. This is where we would test the resulting ideas out, while also thinking about how the results could be translated into the digital world.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Craft questions to develop your engagement plan</h3>
              <p class="govuk-body">Brainstorm some key questions that you want to answer in the engagement. Consider the various groups of residents, communities and stakeholders that you want to engage with, taking into account the known demographics of the borough or area. These questions should inform the engagement plan and be kept at the heart of the activities and events that are developed.</p>
              <p class="govuk-body">We did some brainstorming in a pre-pandemic workshop that involved a variety of staff across the library service and other council departments. We thought about who we wanted to engage with, and captured their thoughts and questions around creative ways of doing so using pens and large sheets of paper. </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Refine questions into a key set of questions to inform activities and events
              </h3>
              <p class="govuk-body">Refine your questions into key questions that, when answered, will provide you with the desired outcomes after the engagement. Then think about ways to answer the questions through possible engagement activities and events. 
              </p>
              <p class="govuk-body">We wanted to avoid engagement for the sake of it, so we were keen to get the questions right before going to the community. We refined our questions by focusing on the aim of creating spaces that the community would like to spend time in, and that would facilitate sharing of skills and knowledge, as well as offering opportunities to support others. The questions selected had to evoke a picture of what could be possible in the minds of residents.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Devise a marketing and support strategy</h3>
              <p class="govuk-body">It is worth creating a marketing strategy to figure out how you will market these activities and events to the community. </p>
              <p class="govuk-body">We partnered with our internal marketing and communications team to create a marketing and support strategy. A team member within our libraries team designed the branding, and we worked with the Engagement and Participation and Communication Team to develop the engagement plan and the methods to market the engagement. These methods included JCDecaux boards; posters; postcards; a resident newsletter; a VCS newsletter; emailing partners; school newsletters for parents, and social media.</p>           
            </li>
            <li>
              <h3 class="govuk-heading-m">Set up services for any offline members in the community
              </h3>
              <p class="govuk-body">Consider setting up alternative ways of communicating with members of the community who may not use the typical digital channels, such as social media. Alternatives can include writing letters, phone call/text messages, and drop-in days (where safe to do so).
              </p>
              <p class="govuk-body">In the meantime, our team also set up a landline phone-in service in the library so that members of the community who couldn’t access digital channels could still share their thoughts and opinions on the library with us. A member of the team staffed it once a week, and the service was promoted on fliers, posters and JC Decaux boards in the town centre. We also circulated the flier to as many partners as possible to share with their members, and had fliers in the libraries. We proactively called our community library service members.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Running the events and activities</h3>
              <p class="govuk-body">Different members of our library staff took the lead in running the various activities that were going on during the engagement phase. There were also activities that were carried out in partnership with organisations and local individuals.
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <h4 class="govuk-heading-s">Virtual ideas board</h4>
                  <p class="govuk-body">We created a remote ‘ideas board’ to collect feedback and ideas from residents about the project. The board is located on the <a href="https://kingstonletstalk.co.uk/libraries">Kingston: Let’s Talk homepage</a> so that everyone can see it. Residents are also able to ‘like’ and comment on ideas on the digital board.</p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Remote escape room</h4>
                  <p class="govuk-body">A member of our library team designed and facilitated a remote escape room as a way of getting feedback and opinions from the community in a creative way. Residents were asked to participate in quizzes, with the questions being focused on the topic of libraries and communities. The questions were designed in such a way that participants’ answers were essentially their views on the library.
                  </p>
                  <p class="govuk-body">Questions were designed in such a way that the answers were essentially the views of the residents. Whilst participants were solving the puzzles, they were giving us their views of the library.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Poetry chain</h4>
                  <p class="govuk-body">We set up a community poetry chain where people could get involved by adding to the chain. We wrote the first line of the poem and then encouraged others to contribute by adding a line to it. We used social media to facilitate the poetry chain on our own Twitter account, with reinforcement from Kingston council.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Visual storytelling exchange</h4>
                  <p class="govuk-body">Our team collaborated with organisations - including Mencap and Youth Council - to engage with their members through storytelling. We held two separate workshops where participants were asked to draw a map about what they wanted the library to be like, as well as what it meant to them. They were encouraged to share their ideas through stories and illustrations. The activity was conducted remotely using Zoom.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Performance Poet</h4>
                  <p class="govuk-body">We ran a collaborative poetry writing session to engage with a year 7 school group and understand their views on libraries. We worked with a performance poet whereby pupils were asked to provide the poet with words about what libraries meant to them. The poet then turned the responses into a rap that captured the views and opinions shared by the young people with regards to libraries.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">‘Wish you were here’ postcards</h4>
                  <p class="govuk-body">We created a ‘Wish you were here’ postcard for the schools to use with their classes. The idea was that the children would write a postcard to their friend telling them all about the library and why they should visit themselves. We didn’t receive any back but we hope it was enjoyed. We plan to re-run this activity during a time when it is easier to provide more hands-on guidance.
                  </p>
                </li>
              </ul> 
            </li>
            <li>
              <h3 class="govuk-heading-m">Wrap up
              </h3>
              <p class="govuk-body">A sensemaking session with our assistant director, corporate head of service and external experts resulted in an illustration with six key principles identified by analysing qualitative and quantitative data, including data on borrowers; comparison of neighbouring library services; workshops with staff and partners; and creative events. We created a short film to share with the communities, summarising how we had engaged and the response.
              </p>
              <p class="govuk-body">The next step is to feed back initial findings to elected members through the committee, and to seek agreement to test and evaluate the principles through service design during 2021.
              </p>
            </li>
          </ol>
        </div>
        <div id="requirements" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Resources Required</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Financial costs
              </h4>
              <p class="govuk-body">The financial cost of the first engagement phase, including the cost for staff time, materials, marketing, and any software/ tools used came to roughly £7900. Broken down, the cost of staff time was approximately £6585. Marketing costs were approximately £1285, which includes JCDecaux posters and fliers.
              </p>
              <p class="govuk-body">Where possible, the team made use of their partnerships, which helped to reduce costs.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Staff time
              </h4>
              <p class="govuk-body">The first engagement phase ran from 01/09/20 to 26/10/2020 and involved a total of around 260 hours between 6 staff from various roles such as head of service, development officers and Kingston’s strategy and comms team. 
              </p>
              <p class="govuk-body">The approximate time spent can be divided into blocks as follows: 25 hours for the shaping of the project engagement ambition, including engagement plan, questions crafting and reports. 120 hours for developing the engagement plan and adapting it due to COVID-19, creating and developing activities and events, devising marketing and support, setting up of the offline phone-in service, as well as any partner and internal staff workshops. 60 hours between 3 development officers to further develop and run the events and activities. Lastly, 55 hours between 2 strategy and communications staff members across the entire phase. 
              </p>
            </li>
          </ul>  
        </div>
        <div id="evidence-for-success" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Outcomes</h2>
          <p class="govuk-body">We have received positive feedback from internal council staff and elected members, as well as from participants in the engagement activities. We had 130 responses on our virtual ideas board, showing that people were getting involved in the engagement response. We have also received positive comments and feedback from partnership organisations such as JobCentre Plus and Citizens Advice Kingston.
 
          </p>
          <p class="govuk-body">There were some things that were not as engaged with as others, such as the alternative landline phone-in service and the ‘wish you were here’ postcard activity for various reasons. Although we didn’t receive any calls through the landline phone-in service, we did use it to reach out to our resident library members. We didn’t receive any postcards back, but we believe they were still used and enjoyed by the community. A possible reason is that the activity was run at a time when people were very busy dealing with the implications of COVID-19 and so returning the postcards wasn’t a priority. In future, we’d like to run this activity again when there is more time and also more hands-on support and guidance available. 

          </p>
          <p class="govuk-body">Overall, the engagement was a success, the feedback it provided having helped to form 6 key principles to inform our way forward. This is important as it means that these principles, which will help guide our work, are community focused. It was reassuring for us that the principles were also aligned with the LGA Peer Review that was conducted in January 2020. It shows us that the professional review is reflecting what the community is saying, which helps us to know that we are on the right track. Likewise, our thinking about community hubs was also positively received and backed up by the feedback from residents. The engagement, as part of a wider project, is helping in creating the story for libraries and forming a cohesive narrative.

          </p>
        </div>
        <div id="key-guidance" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Key guidance</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Have a clear ambition and stick to it
              </h4>
              <p class="govuk-body">Have a clear ambition to shape everything that follows and stick to it, even if activities need to be pivoted for any reason. We were able to ensure that creativity was incorporated into everything we did by having a set of well considered and carefully crafted questions that participants wanted to answer. Our team chose to involve as many people as possible in the crafting of the questions, as we believe that ideas can come from anywhere, not just a single source or person. These fundamental questions fed into our engagement plan, and thus the following engagement activities. Even when COVID-19 forced us to pivot our plan, with many activities being held remotely, we were still able to ensure that creativity remained at the heart of what we did.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Take time to craft the questions that will guide you 
              </h4>
              <p class="govuk-body">The framing of the questions was extremely important and contributed to the success of this engagement. We took the time to really refine and re-refine our set of questions. We recommend having open questions, and to consider framing them as ‘the how’ rather than ‘the what’. This means thinking about the outcomes and how somebody might want their library to look or be used, rather than what they simply want in the library. This helps avoid a ‘wishlist reponse’. Have a ‘how’ thought process when shaping your questions, and put the effort and time into getting them just right, as they will shape everything that flows from them.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Make use of the resources you have, including staff resources</h4>
              <p class="govuk-body">Make use of the resources you have available to you, as this can help reduce the time and costs of engagement. This includes partnerships, materials, and even the skills present within your own team. Build on the capabilities your team already possesses, and then outsource or adapt where needed. We utilised our partnerships as well as our own library staff’s creative skills to input into the engagement phase. We directed our individual creative abilities and thinking into the planning and running of the activities.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Take managed and calculated risks
              </h4>
              <p class="govuk-body">We knew that holding less traditional activities - for instance an online escape room - to engage with our community could have been a risk. However, we were able to weigh up the benefits of doing something different, realising that it wouldn’t have cost us much if it had gone wrong. The experience of working in the Kingston Stronger Together Hub during the pandemic response liberated our thinking; this had a positive outcome on the libraries digital offer and library review approach. We thus approach this engagement with the attitude of ‘let’s just try and see what happens’. We found that there would be little to no loss of budget, as activities required very few resources apart from our time. 
              </p>
              <p class="govuk-body">To add to this, we had run similar activities before and were assured that the quality of the activity would be high because it was being run by our own staff. The only risk was that few people would turn up, but with good marketing and advertising, this wasn’t the case. We would encourage others to try something different and have an attitude of ‘what is the worst that can happen if this activity doesn't work?’ Engaging in a different way generates different conversations and enables new audiences to be reached so the engagement becomes truly diverse. 
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Consider how you’ll reach a broad range of service users, including offline users
              </h4>
              <p class="govuk-body">Identify key stakeholder groups that you need to include in the engagement phase early on, by including them in the framing of the initial questions. When shifting activities to digital and remote delivery, consider what you may need to do in order to continue to reach service users and members of the community who may not have access to digital. Some users may not be aware of the project and/or engagement activities due to reasons such as not being present on social media channels. Think about using analogue methods to support digital and online marketing. For example, our team, in partnership with the council, used the local JC Decaux billboards and posters in the town centre to raise awareness about the project. 
              </p>
            </li>
          </ul>  
        </div>
        <div id="risks" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Risks</h2>
          <p class="govuk-body">Describe the key things you needed to be aware of/ challenges you faced when implementing this case study. Explain how you’ve mitigated these risks if possible (e.g. if a user can’t access an online-only service, they won’t be able to access the support they need ).
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <p class="govuk-body">
                There is a risk that not everyone may be able to access the remote activities and thus be unable to share their opinions and views. We were mindful of the residents who were offline service users or who had low to no access to digital, and set up a phone line so that people could phone in. This phone line was made available once a week and run by a member of our library team.
              </p>
              <p class="govuk-body">
                Depending on the subject matter of the engagement or project, there may be some prejudice from communities and residents. For us, this was in the form of people thinking that the library would be shut down, as people assumed that ‘library and engagement’ could mean or lead to this. To mitigate this, we were very careful to ensure that the message of the project and engagement activities was clear. We were mindful especially about the language used, moving away from ‘survey’ to avoid people thinking it meant a consultation. We also spent a lot of time framing the questions carefully to reduce any misunderstanding and to elicit the right response.
              </p>
              <p class="govuk-body">
                Do consider whether this approach is appropriate for your own service. Libraries naturally allow space for creativity, as it is often within the wider arts and culture services. This means it might be easier to engage in a creative way compared to other services.
              </p>
            </li>
          </ul>
        </div>
        <div id="software-and-tools" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Software and tools used</h2>
          <a href="http://www.zoom.us"><h3 class="govuk-heading-m">Zoom</h3></a>
          <p class="govuk-body">Zoom is remote video conferencing software and was used to link us with community groups such as Mencap and Youth Services.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">£11.99 per month (Zoom also has a free basic plan but with limited features)          </p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">The Royal Borough of Kingston upon Thames Council uses Google Meet internally, but not everyone has a Google account, so Zoom is universally accessible for those who are online. We paid for a subscription, as the sessions were longer than the free option and we didn’t want to have sessions disjointed by rejoining after 40 minutes.</p>
          <a href="https://meet.google.com"><h3 class="govuk-heading-m">Google Meet</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Google Meet is video conferencing software which was used by our team for both the staff workshops and partner workshops.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Free</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">The Royal Borough of Kingston upon Thames council uses Google Meet as its corporate solution. All partners and staff were able to use this tool for free.</p>
          <a href="https://www.genial.ly"><h3 class="govuk-heading-m">Genial.ly</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Genial.ly is a website that allows users to create interactive content, such as interactive games, presentations, quizzes and much more. We used it to create interactive puzzles and challenges for the virtual escape room activity.
          </p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Free</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">We created a free account and were able to easily create the content for the escape room.
          </p>
          <a href="https://www.google.co.uk/forms/about/"><h3 class="govuk-heading-m">Google Forms</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Google Forms is online survey software which we used to create challenges for the escape room. The surveys were designed to collect people’s feedback in a creative way when paired with the escape room activity.
          </p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Free</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">Royal Borough of Kingston upon Thames staff are able to use this tool for free. </p>
          <a href="https://www.google.co.uk/forms/about/"><h3 class="govuk-heading-m">Canva.com</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Canva is a graphic design platform used to create social media graphics, presentations, posters, documents and other visual content. We used it to create all the communication, videos and branding.

          </p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Premium version (£10/month)</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">We have a premium version of Canva that allows us to use all the features.
          </p>
        </div>
        
        <div id="contacts" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Get in contact</h2>
          <p class="govuk-body">Fiona Tarn</br> Development Manager </br>Kingston Library </br> fiona.tarn@kingston.gov.uk </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
