
{% extends "v2/layout.html" %}

{% block pageTitle %}
  test
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title">  
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-6">
          Engaging young people in climate 
          action through an online summit
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-padding-top-6">
          Oxford
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="case-study-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="box-1">
          <nav class="navigation" id="mainNav">
            <a class="navigation__link active" href="#1">Section 1</a>
            <a class="navigation__link" href="#2">Section 2</a>
            <a class="navigation__link" href="#3">Section 3</a>
            <a class="navigation__link" href="#4">Section 4</a>
              <a class="navigation__link" href="#5">Section 5</a>
              <a class="navigation__link" href="#6">Section 6</a>
              <a class="navigation__link" href="#7">Section 7</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds box-2">
        <div id="1" class="inner-box-1 page-section"></div>
        <div id="2" class="inner-box-2 page-section"></div>
        <div id="3" class="inner-box-3 page-section"></div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
