
{% extends "v2/layout.html" %}

{% block pageTitle %}
  Engaging young people in climate action through an online summit - Community Engagement Playbook
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title govuk-!-padding-top-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Last updated 12 February 2021</span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">
          Engaging young people in climate action through an online summit
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Contributed by:</span>
        <h3 class="govuk-heading-s govuk-!-padding-top-3">Oxford City Council, Environmental Sustainability Team</h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="longform-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="information-scent">
            <a class="navigation-link active" href="#summary">Summary</a>
            <a class="navigation-link" href="#reasons-for-engagement">Reasons for engagement</a>
            <a class="navigation-link" href="#steps-to-implement">Steps</a>
            <a class="navigation-link" href="#requirements">Resources required</a>
            <a class="navigation-link" href="#evidence-for-success">Outcomes</a>
            <a class="navigation-link" href="#key-guidance">Key guidance</a>
            <a class="navigation-link" href="#risks">Risks</a>
            <a class="navigation-link" href="#software-and-tools">Software and tools used</a>
            <a class="navigation-link" href="#contacts">Get in contact</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
        <div id="summary" class="page-section">
          <h2 class="govuk-heading-l">Summary</h2>
          <p class="govuk-body">In 2019, Oxford City Council ran a citizens assembly on the climate emergency. This resulted in the council committing to 53 specific actions to help fight climate change, including running a youth climate summit to engage young people in the topic.</p>
          <p class="govuk-body">Run by our staff in the Environmental Sustainability Team, the summit was originally planned as an in-person event, but as the COVID-19 pandemic continued we decided to move it online, and in November 2020 we hosted our first youth climate summit over Zoom and YouTube. We collaborated with young people to shape the event, and included interactive tools so that participants could get involved with the discussions and choose what content they wanted to see. The focus of the summit was on how young people could take action on climate change, and it was also an opportunity for decision makers in the council to hear their views.</p>
          <h4 class="govuk-heading-s">Date of engagement</h4>
          <p class="govuk-body">November 2020</p>
        </div>
        <div id="reasons-for-engagement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Reasons for engagement</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              To engage young people in climate action, as they will be most affected by climate change.
              </li>
            <li>To support young people in taking specific actions against climate change.
            </li>
            <li>To hear young people’s views and help decision makers feed those views into their strategic planning on climate change.
            </li>
          </ul>
        </div>
        <div id="steps-to-implement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Steps</h2>
          <ol class="govuk-list govuk-list--number">
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Researching what was already happening</h3>
              <p class="govuk-body">We started with researching what was already happening in Oxford with young people and climate action. Who were the young people already active? Which organisations were working with young people? What sort of work was already happening?</p>
              <p class="govuk-body">This helped us to identify gaps where the summit could play a role, as well as high priority themes that we might want to cover.</p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Defining the aims and format for the summit</h3>
              <p class="govuk-body">We then focused on what we wanted to achieve with the summit, for both the young people and the council. Our main aims were to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Provide young people with knowledge of how to effectively lobby for change - what channels are available for that. 
                  </li>
                <li>Show the city's place in the global picture and discuss the role of Oxford as one of the more privileged places. 
                </li>
                <li>Expose young people to the voices of their peers in the global south - and foster a sense of global citizenship. 
                </li>
                <li>Equip young people with the latest scientific information from some of the most influential climate scientists.
                </li>
              </ul>
            </li>
            <p class="govuk-body">We also decided on the format of the summit; the plan had been for a face-to-face event, but with COVID-19 continuing, this was looking less feasible. We considered partnering with schools once they went back into the classroom after the summer holidays, but we realised that staff already had a lot to deal with due to working on the logistics of getting pupils back to school. In the end we decided to move the summit fully online.</p>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Engaging with young people to get their ideas</h3>
              <p class="govuk-body">To make the content of the summit relevant and engaging for young people, we knew we needed their input to decide what should be included and how it should be run. 
              </p>
              <p class="govuk-body">We spoke to different youth groups about what they’d like to see at the summit, and got in touch with young climate activists. We found that they already had lots of ideas for climate action, so we focused the event on enabling them to put these into practice. </p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Summit format</h3>
              <p class="govuk-body">To help us develop the format, we reached out to groups that already had experience working online with young people during the pandemic so that we could learn what worked best. We considered using Zoom and including breakout sessions for discussions, but were concerned that this would make the event less accessible. We were really keen to get beyond the usual suspects, and so decided instead to run the event through Zoom but then livestream it through YouTube. We know many young people use YouTube, and it was also the most straightforward way to broadcast the event beyond Zoom.</p>              
              <p class="govuk-body">We also partnered with a few of the young climate activists to host the event. Rather than the council leading proceedings, we wanted it to feel like an event for young people by young people.</p>
              <h3 class="govuk-heading-s">Promoting the event</h3>
              <p class="govuk-body">Once we had the content development underway, we moved to thinking about how to get the word out about the event. We did this in a few different ways:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  We knew that not many young people followed the council’s social media channels, so we did some paid marketing with online adverts on Facebook and Instagram.
                  </li>
                <li>We engaged early on in the process with the city’s Children's Trust Board, youth groups within different ethnic communities, and art groups that helped to put the word out.
                </li>
                <li>We worked with the council’s Youth Ambition initiative (part of our Active Communities Team) team, in order to involve the vulnerable young people in the city that they work with. 
                </li>
                <li>We asked the young people who were already involved to share the event through their schools. 
                </li>
                <li>We also did some engagement with schools, but they weren’t able to engage as much as they would have liked to because of Covid. 
                </li>
              </ul>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Running the event</h3>
              <p class="govuk-body">In preparation for the event, we ran several dry runs with everybody involved so that we knew how to work all the technology. Getting Zoom, Slido and YouTube to work together was stressful, but we had support from our IT team. The fact that we’d done lots of practice really helped everything run smoothly on the day. We had people assigned to different 'behind the scenes' roles, and we also had someone from the IT team on standby in case anything went wrong. 
              </p>
              <p class="govuk-body">The event featured five different speakers and 83 participants tuned in to the two-hour summit (with another 300 views after the event). The Shadow Chancellor, Anneliese Dodds, led a session on what young people can do to affect change, covering things such as how they can lobby politicians and get involved in local politics. The council’s scientific advisor also gave a talk, and the participants used Slido to vote on what topic they wanted him to speak out about.
              </p>
              <p class="govuk-body">We added the Slido link into the YouTube video description and asked people to submit questions there. The hosts reminded people to do this throughout the session, and we ended up with a couple of dozen questions. People could also upvote the questions they wanted to hear answered, which helped to prioritise the questions.
              </p>
            </li>
          </ol>
        </div>
        <div id="requirements" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Resources required</h2>
          <h3 class="govuk-heading-m">Financial cost</h3>
          <p class="govuk-body">The overall budget was £1,000, with half of that spent on advertising. However, more advertising spend would definitely have been useful.</p>
          <h3 class="govuk-heading-m">Staff time</h3>
          <p class="govuk-body">This worked out to approximately one person working 2.5 days a week (on average) on the project for three months. The workload was lighter at the beginning and then increased a lot closer to the event. We also had ad hoc support from the IT, comms, youth and sustainability teams. 
          </p>
        </div>
        <div id="evidence-for-success" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Outcomes</h2>
          <p class="govuk-body">After the summit, we held a feedback session with the young people involved. It was great to hear that they said they wanted the event to be the first of many. Councillors agreed with this and want to explore further events - perhaps once COVID-19 has passed.</p>
          <p class="govuk-body">We were also keen for the summit discussions to influence decision makers in the city. We had good engagement from the city councillors, particularly the deputy leader who was heavily involved on the day and in the pre-summit discussions. The buy-in from decision makers was really positive - they wanted to be involved in the summit and act on what they heard.
          </p>
        </div>
        <div id="key-guidance" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Key guidance</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Engage early to help shape the event </h4>
              <p class="govuk-body">We were able to make it an interesting event for young people because we found out what content they wanted to hear about. We also researched what groups of young people were already doing on climate change and got advice from people who work with young people in this space.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Speak to those linked to the community about what methods are best</h4>
              <p class="govuk-body">For us, that meant finding what online formats had already worked well for young people. </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Start your event promotion early
              </h4>
              <p class="govuk-body">This is something that, on reflection, we would start earlier next time. We did this with three weeks to go before the event, but next time we’d begin with early teasers before doing adverts with more detail on the content nearer the time.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Test your technology</h4>
              <p class="govuk-body">We found the tech to be quite straightforward, but it made it much less stressful having practised how it all came together beforehand. 
              </p>
            </li>
          </ul>  
        </div>
        <div id="risks" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Risks</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Not allocating budget for promotion</h4>
              <p class="govuk-body">It’s easy for people to think that because it’s online it’s free, but we needed budget for the advertising to ensure people knew the event was happening.</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Recruiting speakers</h4>
              <p class="govuk-body">We found it tricky to confirm some of the speakers, and it would have been better to lock them in early so we could ensure they were well briefed. This is something to be aware of, and that some speakers may be harder to pin down than others.
              </p>
            </li>
          </ul>
        </div>
        <div id="software-and-tools" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Software and tools used</h2>
          <a href="http://www.zoom.us"><h3 class="govuk-heading-m">Zoom</h3></a>
          <p class="govuk-body">We used the ‘webinar’ function of this video conferencing software to host the summit. The hosts and speakers were all logged into the Zoom webinar, and the viewers could then watch through YouTube without needing to log in.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">For a meeting of this size and length, you need a licensed account which is £14 a month. Adding the webinar function costs a further £11 a month.</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">We saw having to join through Zoom as a potential barrier, so we livestreamed the event through the council’s YouTube channel.</p>
          <a href="https://www.sli.do"><h3 class="govuk-heading-m">Slido</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Slido is a Q&A and polling app that you can integrate into Zoom meetings. We posted the Slido link for our event in the YouTube description, and by clicking on it viewers could then submit questions or vote on polls.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Free for up to 100 participants (max three polls per event).</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>It worked very well, much better than we were expecting. It was easy to set up and intuitive for participants to use.</li>
            <li>Young people are generally pretty happy using novel digital platforms, so there wasn't any issue with encouraging people to use it. This might not necessarily have been the same with an older group of people.</li>
          </ul>
          <a href="https://www.youtube.com"><h3 class="govuk-heading-m">Youtube</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">We used the council’s YouTube account to livestream the summit via Zoom.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Free to set up an account, more functionality available with a paid account.</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>This worked well on the day, and we were glad we’d practiced using it beforehand.</li>
            <li>We had a dedicated person on the day to monitor it and make sure it was running smoothly, which was worthwhile.</li>
          </ul>
        </div>
        <div id="contacts" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Get in contact</h2>
          <p class="govuk-body">Tom Garrood</br>
            Sustainable City Engagement Officer</br>
            Oxford City Council</br>
            tgarrood@oxford.gov.uk
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
