
{% extends "v2/layout.html" %}

{% block pageTitle %}
  test
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title govuk-!-padding-top-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Last updated: 17th December 2020</span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">
          Engaging young people in climate action through an online summit
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Contributed by:</span>
        <h3 class="govuk-heading-s govuk-!-padding-top-3">Oxford City Council, Environmental Sustainability Team</h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="case-study-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="navigation">
            <a class="navigation-link active" href="#summary">Summary</a>
            <a class="navigation-link" href="#reasons-for-engagement">Reasons for engagement</a>
            <a class="navigation-link" href="#steps-to-implement">Example Steps to Implementation</a>
            <a class="navigation-link" href="#4">Section 4</a>
            <a class="navigation-link" href="#5">Section 5</a>
            <a class="navigation-link" href="#6">Section 6</a>
            <a class="navigation-link" href="#7">Section 7</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds">
        <div id="summary" class="page-section">
          <h2 class="govuk-heading-l">Summary</h2>
          <p class="govuk-body">Back in 2019, Oxford City Council ran a Citizens Assembly on the climate emergency to understand more about what the residents wanted the council to do. This led to the council committing to 53 specific actions to help fight climate change, and one of these was to run a youth climate summit to engage young people in the topic.</p>
          <p class="govuk-body">The summit was originally planned as an in-person event, but as the Covid-19 pandemic continued the council decided to move it online, and in September 2020 hosted its first youth climate summit over Zoom and YouTube. The event was chaired by young people, and included interactive tools so that participants could get involved with the discussions and choose what content they wanted to see.</p>
        </div>
        <div id="reasons-for-engagement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Reasons for Engagement</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Engaging young people in climate action, as they will be most affected by climate change</li>
            <li>Bring them into the conversation to hear their views</li>
            <li>Supporting them to take specific actions against climate change</li>
          </ul>
        </div>
        <div id="steps-to-implement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Example Steps To Implementation</h2>
          <ol class="govuk-list govuk-list--number">
            <li>
              <h3 class="govuk-heading-m">Researching what was already happening</h3>
              <p class="govuk-body">We started with researching what was already happening in Oxford with young people and climate action. Who were the young people already active? Who were the organisations working with young people? What sort of work was already happening?

                This helped us to identify gaps where the summit could play a role, as well as high priority themes we might want to cover. 
                </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Researching what was already happening</h3>
              <p class="govuk-body">We started with researching what was already happening in Oxford with young people and climate action. Who were the young people already active? Who were the organisations working with young people? What sort of work was already happening?

                This helped us to identify gaps where the summit could play a role, as well as high priority themes we might want to cover. 
                </p>
            </li>
            <li>Confirmation.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
