
{% extends "v2/layout.html" %}

{% block pageTitle %}
Running a citizens panel during COVID-19 to gather insights - Community Engagement Playbook
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title govuk-!-padding-top-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Launched September 2020, with a plan to run for 12 months</span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">
          Running a citizens panel during COVID-19 to gather insights 
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Contributed by:</span>
        <h3 class="govuk-heading-s govuk-!-padding-top-3">Waltham Forest, Strategy and Change team, Corporate Development</h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="longform-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="navigation">
            <a class="navigation-link active" href="#summary">Summary</a>
            <a class="navigation-link" href="#reasons-for-engagement">Reasons for engagement</a>
            <a class="navigation-link" href="#steps-to-implement">Example steps to implementation</a>
            <a class="navigation-link" href="#evidence-for-success">Evidence for success</a>
            <a class="navigation-link" href="#key-guidance">Key guidance</a>
            <a class="navigation-link" href="#risks">Risks</a>
            <a class="navigation-link" href="#software-and-tools">Software and tools used</a>
            <a class="navigation-link" href="#requirements">Requirements</a>
            <a class="navigation-link" href="#contacts">Contacts</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
        <div id="summary" class="page-section">
          <h2 class="govuk-heading-l">Summary</h2>
          <p class="govuk-body">With COVID-19 having a huge impact on residents, we wanted a way to quickly and regularly engage with different groups across our borough. To do this, we set up a COVID-19 Citizens Panel so that we find out about residents’ needs and views, and turn these into insights that could then inform the council’s actions.
          </p>
          <p class="govuk-body">We recruited 75 participants who represent the demographic makeup of our borough, and since September 2020 we’ve been running regular engagement activities with them, including monthly surveys and focus groups. The topics we’ve asked about have ranged from their attitudes to restrictions to their views on vaccinations.
          </p>
          <p class="govuk-body">We worked closely with the management board, and the Public Health and Communications teams to both share the outputs and decide what we should be asking about. The insights from the panel have helped improve the council’s COVID-19 response, from understanding how best to keep different communities informed to….
          </p>
        </div>
        <div id="reasons-for-engagement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Reasons for engagement</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To gain regular insights from residents about their experiences and views around COVID-19.
            </li>
            <li>To be able to collect these insights as quickly as possible, so that we could get timely insights and react quickly.
            </li>
            <li>To make sure we were hearing from a representative group so that we were aware of views and needs across different communities.
            </li>
          </ul>
        </div>
        <div id="steps-to-implement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Example steps to implementation</h2>
          <ol class="govuk-list govuk-list--number">
            <li>
              <h3 class="govuk-heading-m">Recruiting participants</h3>
              <p class="govuk-body">We began with a recruitment drive in August to find participants to join the panel. To ensure the panel reflected the demographic makeup of our borough, we set quotas based on characteristics such as gender, age, ethnicity and social grade. 
              </p>
              <p class="govuk-body">Our regular survey tool is Survey Monkey, and so we created a recruitment survey with demographic-related questions that our central communications team shared widely using their contacts databases and social media.
              </p>
              <p class="govuk-body">After a couple of weeks, certain groups were still underrepresented, including ethnic minority groups, young people and males. We worked with the comms team to reach out to these groups specifically until we had 75 participants that aligned with the quotas.
              </p>
              <p class="govuk-body">To encourage people to join the panel and remain engaged, we offered incentives. The core incentive was a £25 gift voucher every quarter if participants took part in at least three engagements during that period, with extra vouchers available if they took part in additional workshops. For those who preferred not to be reimbursed personally, we offered to make a donation to the Mayor of Waltham Forest's charity on their behalf instead.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Setting up the panel
              </h3>
              <p class="govuk-body">While recruitment was happening, we also began to explore what software we’d use to communicate and engage with the panel.
              </p>
              <p class="govuk-body">At first we thought we’d need a specialist platform, so we researched options and even got the budget signed off. However, we then realised that it wasn’t necessary, and we could do everything we needed with the channels we already had - email, Survey Monkey and video calls.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Ongoing engagement with the panel
              </h3>
              <p class="govuk-body">Since the panel launched in September, we’ve run a series of monthly and one-off engagements:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <h4 class="govuk-heading-s">Monthly survey
                  </h4>
                  <p class="govuk-body">Each month we send out a survey to the panel to measure things such as attitudes to restrictions and vaccines, so that we have an up-to-date view across the demographics of the panel.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Monthly focus groups
                  </h4>
                  <p class="govuk-body">We also run a focus group online each month to gather more in-depth insights through discussions. This might be around a particular topic, e.g. vaccinations, or with a specific demographic group. 
                  </p>
                  <p class="govuk-body">Running these involves sending out invites about two weeks before the event, creating a discussion guide, and then facilitating the focus group on Zoom.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">In-depth interviews
                  </h4>
                  <p class="govuk-body">For some topics, such as vaccine hesitancy, we’ve also carried out one-on-one interviews to try and build our understanding of the underlying reasons so that we can then try to address them.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Ad hoc communication
                  </h4>
                  <p class="govuk-body">We sometimes receive individual emails from participants, and anybody on the panel can get in touch with us. 
                  </p>
                </li>
              </ul>
              <p class="govuk-body">Across all the engagement activities, we’ve included a human touch - for example, we sign off our correspondence personally rather than it coming from an anonymous council team. We believe this has helped keep people engaged.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Promoting the event</h3>
              <p class="govuk-body">Once we had the content development underway, we moved to thinking about how to get the word out about the event. We did this in a few different ways:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>We knew that not many young people followed the council’s social media channels, so we did some paid marketing with online adverts on Facebook and Instagram.</li>
                <li>We engaged early on in the process with Oxford’s Children and Partnership Youth Board, youth groups within different ethnic communities, and art groups that helped to put the word out.</li>
                <li>We worked with the council’s Youth Ambition initiative (part of our Active Communities Team) team, in order to involve the vulnerable young people in the city that they work with. </li>
                <li>We asked the young people who were already involved to share the event through their schools. </li>
                <li>We shared the event details within the council, as we knew many staff have children.</li>
                <li>We also did some engagement with schools, but they weren’t able to engage as much as they’d like to because of Covid. </li>
              </ul>              
            </li>
            <li>
              <h3 class="govuk-heading-m">Drawing out insights and reporting to the wider council
              </h3>
              <p class="govuk-body">After each survey and focus group, we quickly create an insights report - usually within 48 hours. This involves drawing out themes and analysing findings, which we share with the management board, and the Public Health and Communications teams in both a long and short format.
              </p>
            </li>
            <li>
              <h3 class="govuk-heading-m">Sharing back to the panel</h3>
              <p class="govuk-body">As well as gathering insights from the panel, we also feel it’s important to share back what we’ve learned and what actions the council is taking. This helps the panel see the direct impact their involvement is having, hopefully encouraging them to remain engaged.
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <h4 class="govuk-heading-s">Monthly newsletter</h4>
                  <p class="govuk-body">In these newsletters we share information such as our key findings and how many people we heard from.</p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">All panel meeting</h4>
                  <p class="govuk-body">We also wanted to do something more in depth to demonstrate the value of the panel, so in November we organised a one-off meeting on Zoom for all the participants, and invited the Director of Public Health and the councillor responsible for the COVID-19 response. They were able to talk directly about how the insights had been used to shape decisions, such as in the design of flyers.
                  </p>
                  <p class="govuk-body">On this call, we also set up breakout rooms so that the panelists could get to know each other better and build a sense of community.
                  </p>
                </li>
              </ul> 
            </li>
            <li>
              <h3 class="govuk-heading-m">Continuously engaging with the wider council
              </h3>
              <p class="govuk-body">To make sure the questions we ask - and therefore the insights we gain - are as relevant as possible, we’re frequently in touch with the Public Health and Communications team. By understanding what they need to know more about, we can ensure what comes out of the engagements is practical and valuable for their work.
              </p>
              <p class="govuk-body">We’ve also kept up to date with what’s happening in the news, and this has enabled us to pre-emptively add in questions to the surveys that the wider teams have then later asked for insights on.</p>
            </li>
          </ol>
        </div>
        <div id="evidence-for-success" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Evidence for success</h2>
          <p class="govuk-body">We haven’t done any formal evaluation, but one of the key measures of success for us has been the continuing engagement rates - even after five months our last survey had a 93% response rate, and our next focus groups are oversubscribed. 
          </p>
          <p class="govuk-body">We know this is partly down to the topic, and that people are more willing to take part as it’s about COVID-19, but we also feel the human touch we’ve included and the sense of community we’ve tried to build have played a part.
          </p>
          <p class="govuk-body">In terms of how the insights from the panel have had an impact, we ran one specific focus group with South Asian participants. The findings from this were instrumental in bringing the transmission rate down in the community.
          </p>
        </div>
        <div id="key-guidance" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Key Guidance</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Think about how to keep people engaged
              </h4>
              <p class="govuk-body">Once you’ve gone through all the work of recruiting, keeping up the engagement is critical for the panel to have value. We’ve been plugging away at this by keeping participants informed and offering incentives.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Working with COVID-19 insights means pace is essential
              </h4>
              <p class="govuk-body">As the COVID-19 situation changes so rapidly, it’s vital for us to turn around the insights quickly. We've been doing this within 48 hours, which is much faster than the usual time to create a report.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">A consistent team makes the work easier</h4>
              <p class="govuk-body">Our team of three has been working together on the project since the beginning. This isn’t always the case in our work, but it’s been really important to build up that bank of experience and knowledge. We pushed for this from the outset.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Buy in?
              </h4>
              <p class="govuk-body to-do">TBA</p>
            </li>
          </ul>  
        </div>
        <div id="risks" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Risks</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Don’t underestimate budget</h4>
              <p class="govuk-body">It’s easy for people to think that because it’s online it’s free, but we needed budget for the advertising etc. to ensure people knew the event was happening.</p>
            </li>
          </ul>
        </div>
        <div id="software-and-tools" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Software and Tools Used</h2>
          <h3 class="govuk-heading-m">Survey Monkey</h3>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Online survey software 
          </p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body to-do">TBA</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body to-do">TBA</p>
          <h3 class="govuk-heading-m">Microsoft Teams</h3>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">Team collaboration software, with video conferencing function.
          </p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body to-do">TBA</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">Waltham Forest Council uses Microsoft Teams, however back in November when we wanted to run the All Panel meeting with breakout rooms, Teams didn’t have this functionality.</p>
          <p class="govuk-body">Zoom isn’t available across the council, but a colleague in another team had a paid account that we were able to borrow for the meeting.</p>
        </div>
        <div id="requirements" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Requirements</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Financial costs
              </h4>
              <p class="govuk-body">As we didn’t end up paying for a specialist platform, the only direct costs have been the incentive vouchers. In five months we’ve spent £2,500 on this, so we predict that at the end of the 12-month panel the total costs will be around £5,000.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Staff time
              </h4>
              <p class="govuk-body">There are ebbs and flows throughout the month, as obviously we get busier around the time we are running the focus groups and writing the reports. On average, three people spend a collective total of four days a week on the panel (roughly one person working two days, and two people working one day).
              </p>
            </li>
          </ul>  
        </div>
        <div id="contacts" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Contacts</h2>
          <p class="govuk-body">Hisham Husain, Research and Consultation Officer</br>Hisham.Husain@walthamforest.gov.uk</p>
          <p class="govuk-body"></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
