
{% extends "v2/layout.html" %}

{% block pageTitle %}
Capturing insights through a citizens panel during a pandemic - Community Engagement Playbook
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <div class="govuk-width-container">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/case-studies/">Case Studies</a>
      </li>
    </ol>
  </div>
</div>

<section class="case-study-title govuk-!-padding-top-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Last updated 12 February 2021</span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">
          Capturing insights through a citizens panel during a pandemic
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Contributed by:</span>
        <h3 class="govuk-heading-s govuk-!-padding-top-3">Waltham Forest, Strategy, Design and Communities team, Corporate Development</h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="longform-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third empty">
        <p></p>
        <div class="case-study-navigation">
          <nav class="information-scent">
            <a class="navigation-link active" href="#summary">Summary</a>
            <a class="navigation-link" href="#reasons-for-engagement">Reasons for engagement</a>
            <a class="navigation-link" href="#steps-to-implement">Steps</a>
            <a class="navigation-link" href="#requirements">Resources required</a>
            <a class="navigation-link" href="#evidence-for-success">Outcomes</a>
            <a class="navigation-link" href="#key-guidance">Key guidance</a>
            <a class="navigation-link" href="#risks">Risks</a>
            <a class="navigation-link" href="#software-and-tools">Software and tools used</a>
            <a class="navigation-link" href="#contacts">Get in contact</a>
          </nav>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
        <div id="summary" class="page-section">
          <h2 class="govuk-heading-l">Summary</h2>
          <p class="govuk-body">With COVID-19 having a huge impact on residents, we wanted to quickly implement a way to regularly engage with different groups across our borough. To do this, we set up a COVID-19 citizens panel to find out about the attitudes, experiences and needs of our diverse communities that depend on our services. The council uses these insights to inform its actions.   
          </p>
          <p class="govuk-body">We recruited 75 participants who represent the demographic makeup of our borough, and since September 2020 we’ve been running regular engagement activities with them, including monthly surveys and focus groups, one-to-one interviews, videos and panel-wide discussions.
          </p>
          <p class="govuk-body">The topics we’ve asked about include their attitudes to restrictions, their social compliance behaviours and their views on vaccinations. We also regularly check in with them about their wellbeing. 
          </p>
          <p class="govuk-body">We work closely with the council’s management board, our Public Health, Covid Delivery and Communications teams to both share the outputs and decide what we should be asking about. The citizens panel has created an even stronger evidence base from which senior management can make their decisions, keeping key decision makers closely connected with the mood, behaviour and needs of our residents.  
          </p>
          <h4 class="govuk-heading-s">Date of engagement</h4>
          <p class="govuk-body">Launched September 2020, with a plan to run for 12 months</p>
        </div>
        <div id="reasons-for-engagement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Reasons for engagement</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              To gain regular insights from residents about their experiences and views around COVID-19.
              </li>
            <li>To be able to collect these insights as quickly as possible, so that we could get timely insights and react quickly.
            </li>
            <li>To make sure we were hearing from a representative group so that we were aware of views and needs across different communities.
            </li>
          </ul>
        </div>
        <div id="steps-to-implement" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Steps</h2>
          <ol class="govuk-list govuk-list--number">
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Deciding to set up a Citizens Panel
              </h3>
              <p class="govuk-body">During the first few months of the COVID-19 pandemic we ran two borough-wide surveys, that were open to anyone, to better understand residents’ views and feelings. But we felt we needed something more nimble that could provide us with quicker insights, and that truly reflected the diversity of the borough. Our director suggested setting up a citizens panel, and so with the senior support in place we set about getting it in place in summer 2020.</p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Recruiting participants</h3>
              <p class="govuk-body">We began with a recruitment drive in August to find participants to join the panel. To ensure the panel reflected the demographic makeup of our borough, we set quotas based on key characteristics such as gender, age, ethnicity and social grade. 
              </p>
              <p class="govuk-body">Our regular survey tool is Survey Monkey, and so we created a recruitment survey with demographic-related questions that our central communications team shared widely using their contacts databases and social media. It also included a breakdown of what they’d be expected to take part in over the 12 months. 
              </p>
              <p class="govuk-body">After a couple of weeks, certain groups were still underrepresented, including some ethnic minority groups, young people and males. We worked with the comms team to reach out to these groups specifically, until we had 75 participants that aligned with the quotas. 
              </p>
              <p class="govuk-body">To encourage people to join the panel and remain engaged, we offered incentives. The core incentive was a £25 gift voucher every quarter if participants took part in at least three activities during that period, with extra vouchers available if they took part in additional activities. For those who preferred not to be personally incentivised, we offered to make a donation to the Waltham Forest Mayor's charity on their behalf instead. 
              </p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Setting up the panel
              </h3>
              <p class="govuk-body">While recruitment was happening, we also began to explore what software we’d use to communicate and engage with the panel.
              </p>
              <p class="govuk-body">At first we thought we’d need a specialist engagement platform, so we researched options and even got the budget signed off. However, before this could be set up, we’d already started communicating with the panel via email, and quickly realised the platform wasn’t 
                necessary. We could do everything we needed with the channels we already had - email, Microsoft Mail Merge, Survey Monkey and video calls via Teams or Zoom.                
              </p>
              <p class="govuk-body">At this stage we were also thinking about what skills we needed in the team running the panel. Research skills were essential to be able to turn what we heard into insights, as well as the ability to write survey questions, analyse data, create effective discussion guides and facilitate group conversations. 
              </p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Ongoing engagement with the panel</h3>
              <p class="govuk-body">Since the panel launched in September, we’ve run a series of monthly and one-off engagements:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <h4 class="govuk-heading-s">Promoting the event</h4>
                  <p class="govuk-body">Each month we send out a survey to the full panel to measure things such as attitudes to restrictions and vaccines, so that we have an up-to-date view across the demographics of the panel.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Monthly focus groups</h4>
                  <p class="govuk-body">We also run a focus group online each month on Microsoft Teams to gather more in-depth insights through discussions. This might be around a particular topic, e.g. vaccinations, or with a specific demographic group. We try to keep these to between five and seven participants - any more with an online group and it becomes difficult to manage the discussion. We recently had 12 people turn up for a group, so split them into two groups of six.
                  </p>
                  <p class="govuk-body">Running these focus groups involves sending out invites about two weeks before the event, creating a discussion guide, and then facilitating the focus group on Teams .
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">In-depth interviews</h4>
                  <p class="govuk-body">For some topics, such as vaccine hesitancy, we’ve also carried out one-on-one interviews, over the phone or on video calls, to try and build our understanding of the underlying reasons so that we can then try to address them.
                  </p>
                </li>
                <li>
                  <h4 class="govuk-heading-s">Ad hoc communication</h4>
                  <p class="govuk-body">We sometimes receive individual emails from participants, and anybody on the panel can get in touch with us. We also send out ad-hoc information that we believe might interest or benefit the panel, such as information on wellbeing and to highlight council-run events they may be interested in. 
                  </p>
                </li>
              </ul>
              <p class="govuk-body">Across all the engagement activities, we’ve included a human touch - for example, we sign off our correspondence personally rather than it coming from an anonymous council team. In addition, the panel had the opportunity to meet the team at our all-panel meeting in November. We believe this approach has helped keep people engaged.
              </p>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Drawing out insights and reporting to the wider council
              </h3>
              <p class="govuk-body">After each activity takes place, we quickly create an insights report - usually within 48 hours. This involves drawing out themes and analysing findings, which we share with the senior management team, alongside key teams such as the Public Health and Communications teams, in both a long and short format. The report is disseminated further by these teams. </p>              
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Sharing back to the panel
              </h3>
              <p class="govuk-body">As well as gathering insights from the panel, we also feel it’s important to share back what we’ve learned and what actions the council is taking. This helps the panel see the direct impact their involvement is having, hopefully encouraging them to remain engaged.
              </p>             
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <h3 class="govuk-heading-s">Monthly newsletter</h3>
                  <p class="govuk-body">In these newsletters we share information such as our key findings and how many people we heard from. We make sure panelists are made aware of the impact of their contributions for that month.
                  </p>
                </li>
                <li>
                  <h3 class="govuk-heading-s">All panel meeting</h3>
                  <p class="govuk-body">We also wanted to do something more in depth to demonstrate the value of the panel, so in November we organised a one-off meeting on Zoom for all the participants, and invited the Director of Public Health and the councillor responsible for the COVID-19 response. They were able to talk directly about how the insights had been used to shape decisions.
                  </p>
                  <p class="govuk-body">On this call, we also set up breakout rooms so that the panelists could get to know each other better and build a sense of community.</p>
                </li>      
              </ul>
            </li>
            <li class="govuk-!-padding-bottom-3">
              <h3 class="govuk-heading-m">Continuously engaging with the wider council</h3>
              <p class="govuk-body">To make sure the questions we ask - and therefore the insights we gain - are as relevant as possible, we’re frequently in touch with other teams across the council, most regularly the Public Health, Covid Delivery and Communications teams. By understanding what they need to know more about, we can ensure what comes out of the engagements is practical and valuable for their work. 
              </p>
              <p class="govuk-body">We’ve also kept up to date with what’s happening in the news on a daily basis, and this has enabled us to spot upcoming key issues and pre-emptively add in questions to the surveys that the wider teams have then later asked for insights on.
              </p>
            </li>
          </ol>
        </div>
        <div id="requirements" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Requirements</h2>
          <h3 class="govuk-heading-m">Financial cost</h3>
          <p class="govuk-body">As the panel is managed in-house, rather than as a commissioned piece, and as we didn’t end up paying for a specialist platform, the costs of running the panel are low. The only direct costs have been the incentive vouchers. We predict that at the end of the 12-month period the total costs will be around £5,000.
          </p>
          <h3 class="govuk-heading-m">Staff time</h3>
          <p class="govuk-body">There are ebbs and flows throughout the month, as obviously we get busier around the time we are running the focus groups and writing the reports. On average, three people spend a collective total of four days a week on the panel (roughly one person working two days, and two people working one day).
          </p>
        </div>
        <div id="evidence-for-success" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Outcomes</h2>
          <p class="govuk-body">After the summit, we held a feedback session with the young people involved. It was great to hear that they said they wanted the event to be the first of many. Councillors agreed with this and want to explore further events - perhaps once COVID-19 has passed.</p>
          <p class="govuk-body">We were also keen for the summit discussions to influence decision makers in the city. We had good engagement from the city councillors, particularly the deputy leader who was heavily involved on the day and in the pre-summit discussions. The buy-in from decision makers was really positive - they wanted to be involved in the summit and act on what they heard.
          </p>
        </div>
        <div id="key-guidance" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Key guidance</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Think about how to keep people engaged</h4>
              <p class="govuk-body">Once you’ve gone through all the work of recruiting, keeping up the engagement is critical for the panel to have value. We’ve been plugging away at this by keeping participants informed, offering incentives and using a variety of different engagement formats.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Working with COVID-19 insights means pace is essential</h4>
              <p class="govuk-body">As the COVID-19 situation changes so rapidly, it’s vital for us to turn around the insights quickly. We've been doing this within 48 hours, which is much faster than the usual time to create a research report.</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">A consistent team makes the work easier</h4>
              <p class="govuk-body">Our team of three has been working together on the project since the beginning. This isn’t always the case in our work, but it’s been really important to build up that bank of experience and knowledge. We pushed for this from the outset.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Build support for an insights-led approach</h4>
              <p class="govuk-body">Ensure that your senior managers recognise the value of an insights-led approach and that they see the value in adopting this technique. From the outset we had significant support from senior managers and key teams within the council to set up the panel, and they now rely on the insights it brings to feed directly into and influence our response to the pandemic. </p>
            </li>
          </ul>  
        </div>
        <div id="risks" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Risks</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <p class="govuk-body">Keeping those participants engaged who may not have fallen into any of the priority groups for more in-depth research is a challenge. This means they may only be completing one survey a month, and do not have many opportunities to meet other participants. The all-panel meeting was one solution to this problem, along with the monthly newsletters.
              </p>
            </li>
            <li>
              <p class="govuk-body">Participants are usually very conscientious, passionate, community-driven and opinionated - this is often why they have joined the panel. This could lead to bias, and so should be acknowledged when designing and analysing research. For example, for a recent research piece on vaccinations we decided we needed to ensure we were accessing people who may not apply to be a part of a 12-month panel. To do this, we commissioned an external organisation to carry out focus groups and interviews more broadly across the borough. 
              </p>
            </li>
            <li>
              <p class="govuk-body">Panel members become invested in the process as it progresses, meaning they may start responding more positively to questions around their attitudes towards the council. We wouldn’t recommend that a panel is used for more than 12 months to mitigate this. 
              </p>
            </li>
          </ul>
        </div>
        <div id="software-and-tools" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Software and tools used</h2>
          <a target="_blank" class="govuk-link" href="https://www.surveymonkey.com"><h3 class="govuk-heading-m">Survey Monkey</h3></a>
          <p class="govuk-body">This is the general online survey tool that the council uses, and through which we create all our questionnaires.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Survey Monkey offers several plans for businesses, starting at £25 per month per user - see more on their <a href="https://www.surveymonkey.co.uk/pricing/">website.</a></p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">It’s worked well for us, as it allows us to create more complex questions where we can send people down different routes based on their responses. It also has a good analysis function. </p>
          <a target="_blank" class="govuk-link" href="https://www.microsoft.com/en-gb/microsoft-teams"><h3 class="govuk-heading-m">Microsoft Teams</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">This is the council’s standard video conferencing tool that we have used for all the focus groups.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">The Microsoft Teams basic package is free, however many local authorities have a license for fuller Microsoft packages that include Teams. Find out more on their <a href="https://www.microsoft.com/en-gb/microsoft-teams/compare-microsoft-teams-options">website.</a></p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <p class="govuk-body">It works well for small groups, but for larger meetings you’re not able to see everybody at the same time.</p>
          <a target="_blank" class="govuk-link" href="https://www.youtube.com"><h3 class="govuk-heading-m">Zoom</h3></a>
          <h4 class="govuk-heading-s">Description</h4>
          <p class="govuk-body">We switched to Zoom video conferencing when we ran the much larger session that all 75 participants were invited to.</p>
          <h4 class="govuk-heading-s">Cost</h4>
          <p class="govuk-body">Zoom’s basic package is free, but comes with limited functions (e.g. max meeting length 40 mins, max 100 participants). Paid packages include more functions, such as the ability to host a webinar. See their website for more detail.</p>
          <h4 class="govuk-heading-s">Considerations</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>At the time we ran the session in November 2020, we wanted to use breakout rooms, but Microsoft Teams didn’t have this functionality.</li>
            <li>Zoom isn’t available across the council, but a colleague in another team had a paid account that we were able to borrow for the meeting</li>
          </ul>
        </div>
        <div id="contacts" class="page-section">
          <h2 class="govuk-heading-l govuk-!-padding-top-6">Get in contact</h2>
          <p class="govuk-body">Hisham Husain</br>
              Research and Consultation Officer
            </br>
            Waltham Forest</br>
            Hisham.Husain@walthamforest.gov.uk
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
