
{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Discovery Prototypes
      </h1>

      <h2 class="govuk-heading-m">About this page</h2>

      <p class="govuk-body-l">This contains a list of prototypes created as part of the discovery phase of the community engagement playbook.</p>

      <h2 class="govuk-heading-m">Prototype v0.1</h2>

      <p>Figma Prototype we used to test our taxonomy, case study template and structure.</p>
      
      <a href="https://www.figma.com/proto/7uAsdH7AyhqX1dZ3ohg9R4/User-Research-%7C-MHCLG-Playbook?node-id=1%3A254&scaling=min-zoom">View Prototype</a>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Prototype v0.2</h2>

      <p>First playbook in gov.uk Prototyping kit. This prototype built on the user research from Figma.</p>
      
      <a href="/v2">View Prototype</a>

    </div>
  </div>

{% endblock %}
